<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationID</key>
	<string>afe940107f669f22b0f86a16d27d6196cb5a57ff4a337ca90d5ed653b40fbb60</string>
	<key>Server</key>
	<string>https://dripp2.herokuapp.com/parse</string>
	<key>LiveQueryServer</key>
	<string></string>
	<key>UseTransactions</key>
	<false/>
	<key>DeleteKeychainIfNeeded</key>
	<true/>
</dict>
</plist>
