<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationID</key>
	<string>87457f7d7af0ed3d49573aa832c8bb441b5bac47d31bf56da4a7d4ff8121281c</string>
	<key>Server</key>
	<string>http://dripp-app.herokuapp.com/parse</string>
	<key>LiveQueryServer</key>
	<string></string>
	<key>UseTransactions</key>
	<false/>
	<key>DeleteKeychainIfNeeded</key>
	<true/>
</dict>
</plist>
